@import "./reset.css";
@import "./variables/global.css";
@import "./themes/dark.css";
@import "./themes/light.css";

.app {
  min-height: 100vh;
  font: var(--font-l);
  color: var(--primary-color);
  background: var(--bg-color);
}
