.LoginForm {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.loginBtn {
  margin-top: 30px;
  margin-left: auto;
}

.login-title {
  margin-bottom: 20px;
}
