.Select_wrapper {
  display: flex;
}

.label {
  margin-right: 15px;
}

.Select {
  outline: none;
  background: none;
  color: var(--primary-color);
  padding: 2px 10px 2px 2px;
  border: 1px solid var(--primary-color);
}

