.Sidebar {
  width: 300px;
  height: var(--sidebar-height);
  background: var(--bg-color-inverted);
  position: relative;
  transition: width 0.3s;
}

.switchers {
  position: absolute;
  bottom: 30px;
  display: flex;
  justify-content: center;
  width: 100%;
  gap: 8px;
}

.links {
  display: flex;
  flex-direction: column;
  margin-top: 10px;
  gap: 10px;
}

.collapsedBtn {
  position: absolute;
  right: -20px;
  bottom: 32px;
}

/* .link-info {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-left: 10px;
  cursor: pointer;
} */

.collapsed {
  width: var(--sidebar-collapsed-width);

  .switchers {
    flex-direction: column;
    gap: 10px;
    align-items: center;
  }

  .link-href {
    opacity: 0;
    transition: opacity 0.4s;
    width: 0;
  }

  .links {
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }
}
