.Button {
  cursor: pointer;
  color: var(--primary-color);
}

.Button:hover {
  opacity: 0.7;
  fill-opacity: 0.7;
}

.Button:disabled {
  opacity: 0.5;
}

.text {
  border: none;
  background: none;
  outline: none;
}

.outlined {
  background: none;
  border: 1px solid var(--primary-color);
}

.outlined-red {
  background: none;
  border: 1px solid var(--red-light);
  color: var(--red-light);
}

.small {
  padding: 4px 5px;
  font: var(--font-s);
}

.medium {
  padding: 5px 15px;
  font: var(--font-m);
}

.large {
  padding: 7px 21px;
  font: var(--font-l);
}

.square {
  height: 40px;
  width: 40px;
}
