.navbar {
  max-width: 100%;
  height: var(--navbar-height);
  align-items: center;
  display: flex;
  background: var(--bg-color-inverted);
  padding: 20px;
}

.navbar-nav {
  margin-left: auto;
}

.links {
  display: flex;
  gap: 8px;
}
